@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar_geral {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
}

.navbar_geral .nav_red {
    background-color: #BC0909;
    width: 100%;
    height: 15px;
}

.navbar_geral .nav_white {
    background-color: #FFFFFF;
    width: 100%;
    height: 15px;
}

.navbar_geral .nav_black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #121212;
    width: 100%;
    height: 100%;

}

.nav_black img {
    width: 200px;
    margin-left: 40px;
}

.nav_black .botoes_nav {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin-right: 100px;
}

.nav_black .botoes_nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-weight: 600;
    font-size: 20px;
}

.nav_black .botoes_nav .clube_nav {
    color: #BC0909;
}

/* CONTEÚDO */

/* História do clube */
#img_inicial {
    background-color: #BC0909;
    width: 100%;
    height: 210px;
}

#img_inicial img {
    width: 100%;
    height: 100%;
    filter: brightness(60%);
}

#historia_clube {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#historia_clube .titulo {
    font-size: 50px;
    font-family: 'Fira Sans';
    font-weight: 600;
    text-decoration: underline 1.5px #121212;
    text-underline-offset: 25px;
    color: #BC0909;
}

#historia_clube #txt_historia {
    font-size: 25px;
    font-family: 'Open Sans';
    font-weight: 500;
    text-align: justify;
    width: 80%;
}

/* Identidade Visual */
#identidade_visual {
    background-color: #121212;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#identidade_visual .titulo {
    font-size: 50px;
    font-family: 'Fira Sans';
    font-weight: 600;
    text-decoration: underline 1.5px;
    text-underline-offset: 25px;
    color: #BC0909;
}

#identidade_visual #conteudo {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

#identidade_visual #conteudo #barra_lateral {
    width: 20px;
    height: 420px;
    margin-right: 20px;
    background: linear-gradient(to bottom, #BC0909 50%, #FFFFFF 50%);
}

#identidade_visual #conteudo #txt_identidade_visual {
    width: 550px;
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Open Sans";
    text-align: justify;
    margin-right: 150px;
}

#identidade_visual #conteudo img {
    width: 500px;
    height: 600px;
}

/* Títulos e conquistas */

#conquistas {
    background-image: url(../assets/img/fundo_conquistas.png);
    background-size: 1700px 800px;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#conquistas .titulo {
    font-size: 50px;
    font-family: 'Fira Sans';
    font-weight: 600;
    text-decoration: underline 1.5px;
    text-underline-offset: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

#conquistas #conteudo {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#conquistas #conteudo #tacas {
    background-color: #ffffff3e;
    width: 800px;
    height: 90%;
    border-radius: 20px;
    border: solid 2px #FFFFFF;
    backdrop-filter: blur(5px);
}

#conquistas #conteudo #filtragem {
    background-color: #bc09094b;
    width: 400px;
    height: 90%;
    border-radius: 20px;
    border: solid 2px #FFFFFF;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#conquistas #conteudo #filtragem #titulo {
    width: 150px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#conquistas #conteudo #filtragem #titulo img {
    width: 40px;
    height: 40px;
}

#conquistas #conteudo #filtragem #titulo p {
    font-size: 30px;
    font-family: 'Fira Sans';
    font-weight: 600;
    color: #FFFFFF;
}

#conquistas #conteudo #filtragem .btn_filtro {
    background-color: #FFFFFF;
    width: 300px;
    height: 55px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: "Open Sans";
    font-weight: 600;
    cursor: pointer;
}

#conquistas #conteudo #filtragem .btn_filtro:hover {
    background-color: #BC0909;
    color: #FFFFFF;
    border: solid 2px #FFFFFF;
}

#conquistas #conteudo #tacas #paulistao {
    display: flex;
}

#conquistas #conteudo #tacas #brasileirao {
    display: none;
}

#conquistas #conteudo #tacas #copa_br {
    display: none;
}

#conquistas #conteudo #tacas #sula {
    display: none;
}

#conquistas #conteudo #tacas #liberta {
    display: none;
}

#conquistas #conteudo #tacas #mundial {
    display: none;
}

.trofeus {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    overflow-y: auto;
    max-height: 90%;
    width: 93%;
}

.trofeu {
    width: 150px;
    height: auto;
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    cursor: pointer;
}

.trofeu img {
    width: 150px;
    height: auto;
}

.trofeu p {
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
}

.trofeus::-webkit-scrollbar {
    background-color: #FFFFFF;
    width: 10px;

    border-radius: 20px;
    border: solid 2px #121212;
}

.trofeus::-webkit-scrollbar-thumb {
    background: #BC0909;
    border-radius: 20px;
    border: solid 1px #121212;
}

/* Torcida e Cultura Tricolor */

#torcida {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#torcida .titulo {
    font-size: 50px;
    font-family: 'Fira Sans';
    font-weight: 600;
    text-decoration: underline 1.5px #121212;
    text-underline-offset: 25px;
    color: #BC0909;
}

#torcida #txt_torcida {
    width: 1152px;
    height: 300px;
    font-family: 'Open Sans';
    font-size: 22px;
    text-align: justify;
    font-weight: 500;
}

/* FOOTER */

#footer {
    background-color: #121212;
    color: #787878;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: "Fira Sans";
    font-weight: 600;
}