@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    
    width: 100%;
    height: 695px;
}

/* Barra lateral */
#barra_lateral {
    display: flex;
    width: 300px;
    height: 100%;
}

#barra_lateral #lat_red {
    width: 20px;
    height: 100%;
    background-color: #BC0909;
}

#barra_lateral #lat_white {
    width: 20px;
    height: 100%;
    background-color: #FFFFFF;
}

#barra_lateral #lat_black {
    display: flex;
    flex-direction: column;
    background-color: #121212;
    width: 100%;
    height: 100%;
    
}

#lat_black #logotipo {
    width: 200px;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 80px;
}

#lat_black .img_lat{
    width: 35px;
    height: 35px;

}

#lat_black #botoes_nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
}

/* Perfil */
#lat_black #perfil {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 80px;
}

#lat_black #perfil a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 25px;
    align-self: center; 
    margin-left: 30px;
}

/* Quiz */
#lat_black #quiz {
    display: flex;
    align-items: center;
    background-color: #BC0909;
    margin-left: 25px;
    width: 200px;
    height: 80px;
    padding-left: 15px;
    border-radius: 20px;
}

#lat_black #quiz a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 25px;
    align-self: center; 
    margin-left: 30px;
}

/* Dashboard */
#lat_black #dash {
    display: flex;
    align-items: center;
    margin-left: 40px;
    height: 80px;

}

#lat_black #dash a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-weight: 400;
    font-size: 25px;
    align-self: center; 
    margin-left: 30px;
}

#lat_black #sair {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 170px;
}

#lat_black #sair a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-weight: 500;
    font-size: 30px;
    align-self: center; 
}

#lat_black #sair img {
    width: 35px;
    margin-right: 5px;
}

/* QUIZ */

/* Página inicial */

#pontuacaoEJogo {
    background-color: #121212;
    color: #FFFFFF;
    border-left: solid 2px #FFFFFF;
    width: 1236px;
}

#tela_inicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

#tela_inicial #titulo_inicial{
    font-family: "Fira Sans";
    font-size: 70px;
    font-weight: 600;
}

#tela_inicial #texto_inicial {
    width: 600px;
    font-size: 25px;
    font-family: "Open Sans";
    font-weight: 350;
    text-align: justify;
}

#tela_inicial #texto_inicial span{
    color: #BC0909;
    font-weight: 700;
}

#tela_inicial #btnIniciarQuiz {
    width: 300px;
    height: 100px;
    border-radius: 40px;
    background-color: #BC0909;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-size: 25px;
    cursor: pointer;
}

/* Página das questões */

#questoes {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

#questoes #titulo_questao {
    font-family: "Fira Sans";
    font-size: 60px;
    font-weight: 600;
}

#questoes #questao_atual {
    width: 100px;
    border-radius: 20px;
    background-color: #FFFFFF;
    color: #121212;
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    align-self: flex-start;
    margin-left: 100px;
    
}

#questoes #conteudo_principal {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 470px;
}

#questoes #alternativas {
    background-color: #FFFFFF;
    width: 700px;
    height: 100%;
}

#questoes #botoes_laterais {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
}

#questoes #botoes_laterais #enunciado_questao{
    /* background-color: #0762C8; */
    width: 350px;
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
    margin-bottom: 55%;
    margin-top: 30px;
}

#questoes #botoes_laterais #enunciado_questao span{
    font-weight: 700;
}

#questoes #botoes_laterais #btn_questao {
    width: 300px;
    height: 70px;
    background-color: #BC0909;
    border: solid 2px #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    font-family: "Fira Sans";
    font-size: 25px;
    font-weight: 450;
    margin-top: 20px;
    cursor: pointer;
}



/* TESTEEEEEE */
/* TESTEEEEEE */
/* TESTEEEEEE */
/* TESTEEEEEE */

/* Não usar pure white or pure black: https://uxplanet.org/basicdesign-never-use-pure-black-in-typography-36138a3327a6 */
/* The 4-point grid system: https://medium.com/@sainzkike/controlling-spacing-in-design-systems-multiple-spacing-9bf1afec87f */

:root {
    --primary-brand-color: #ED145B;
    --secondary-brand-color: #0762C8;
    --success: #198754;
    --success-dark: #095c36;
    --success-light: #9dd3ba;
    --warning: #ffc107;
    --warning-dark: #705400;
    --warning-light: #fdebb3;
    --danger: #dc3545;
    --danger-dark: #990c19;
    --danger-light: #f0c1c6;
    --new-gray: #CCCCCC;
    --new-black: #212427;
    --new-white: #E8E8E8;
}

body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid var(--primary-brand-color);
}

.border-secondary {
    border: 3px solid var(--secondary-brand-color);
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}